const NETWORKS = {
  arbitrum: {
    chainId: '42161',
    rpcUrl: 'https://arb1.arbitrum.io/rpc',
    routerAddress: '0x1b02dA8Cb0d097eB8D57A175b88c7D8b47997506', // SushiSwap router
    wrappedNativeToken: '0x82aF49447D8a07e3bd95BD0d56f35241523fBab1', // WETH
    explorer: 'https://arbiscan.io'
  },
  avalanche: {
    chainId: '43114',
    rpcUrl: 'https://api.avax.network/ext/bc/C/rpc',
    routerAddress: '0x60aE616a2155Ee3d9A68541Ba4544862310933d4', // TraderJoe router
    wrappedNativeToken: '0xB31f66AA3C1e785363F0875A1B74E27b85FD66c7', // WAVAX
    explorer: 'https://snowtrace.io'
  },
  mode: {
    chainId: '34443',
    rpcUrl: 'https://mainnet.mode.network',
    routerAddress: '0x96E4B16Cd4Af4Cc54096B92f6A6769Dd4C2C6980', // Mode DEX router
    wrappedNativeToken: '0x4200000000000000000000000000000000000006', // WETH
    explorer: 'https://explorer.mode.network'
  },
  sei: {
    chainId: '1328',
    rpcUrl: 'https://evm-rpc-testnet.sei-apis.com',
    routerAddress: '0x11DA6463D6Cb5a03411Dbf5ab6f6bc3997Ac7428', // DragonSwap
    wrappedNativeToken: '0x6Bf54e3926A4Fb646951C3cc8D3Fff7F2663EfbC', // WSEI
    explorer: 'https://sei.explorers.guru'
  }
};

export default NETWORKS;